{% extends 'base.html' %}

{% block title %}
Доставка и оплата
{% endblock title %}

{% block carousel %}
{% endblock carousel %}


{% block main %}
<div class="container mt-4">
    <h1 class="display-6 fw-bold" style="padding-bottom: 10px;">Доставка и оплата</h1>
    <hr style="color: grey;">

    <h5 style="padding-top: 10px;">Способы оплаты</h5>
    <ol style="padding-left: 50px;">
        <li>Для того, чтобы оплатить товар, Вам нужно перейти в «Корзину» и выбрать тот товар, который Вы хотите
            купить.
        </li>
        <li>После перехода в Корзину, откроется список товаров, которые Вы добавили. Далее, нажимаем кнопку «Оформить
            заказ».
        </li>
        <li>В окне, появится «Контактная информация» и «Способы доставки», которые Вам необходимо заполнить.</li>
        <li>Вы можете выбрать более подходящий для Вас способ оплаты:</li>
    </ol>
    <ul style="padding-left: 50px;">
        <li>Оплата на месте;</li>
        <li>Оплата по терминалу;</li>
        <li>Оплата через платёжные системы, такие как CLICK, Payme.</li>
    </ul>
    <p>Оплатить покупки можно наличными при получении. Убедительная просьба вначале ознакомиться с товаром, убедиться в
        отсутствии дефектов в присутствии курьера, после чего оплачивать сумму.</p>

    <h5>Доставка</h5>
    <h6>Тарифы на доставку товаров по Ташкенту:</h6>
    <ul>
        <li>Курьерская доставка: 30.000 сум для товаров до 300.000 сум.</li>
        <li><span style="color: red;"><strong>Бесплатная доставка</strong></span> для всех товаров от 300.000 сум.</li>

        <li>Экспресс доставка: доставка в течение 3 часов. Стоимость - 50.000 сум. Доступно от 10:00 до 16:00.</li>
        <li><span style="color: red;"><strong>Бесплатная установка</strong></span> для всех тренажеров.</li>
    </ul>

    <h5>Тарифы на доставку товаров по всех регионов:</h5>
    <ul>
        <li>Платная доставка для всех товаров по согласованной цене.</li>
        <li><span style="color: red;"><strong>Бесплатная установка</strong></span> для всех тренажеров.</li>
    </ul>
</div>
{% endblock main %}


