<!--<style>-->
<!--    .carousel-inner img {-->
<!--        border-radius: 20px;-->
<!--        transition: transform 0.3s ease-in-out;-->
<!--    }-->

<!--    .carousel-inner img:hover {-->
<!--        transform: scale(1.02);-->
<!--    }-->
<!--</style>-->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.elverys.ie/app/uploads/2020/12/Untitled-design-2020-12-04T115753.433.jpg?resize=1200%2C300&ssl=1"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.sportscentre.ie/cdn/shop/collections/Untitled_3200_x_800_px_-2_82d835cc-59dc-4c15-a32e-d80660520bb5_1200x1200.png?v=1680268990"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.incorpore.co.uk/front_images/counter_slider/counter_slider_1.png"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.leanlabindia.com/img/inside1.jpg"
                 class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!--{% block extra_css %}-->
<!--<style>-->
<!--    .carousel-inner {-->
<!--        width: 1100px;-->
<!--        height: auto;-->
<!--    }-->

<!--    .carousel-item img {-->

<!--        width: 100%;-->
<!--        height: 440px;-->
<!--        object-fit: cover; /* Сохраняет пропорции изображения и заполняет контейнер */-->
<!--    }-->
<!--</style>-->
<!--{% endblock extra_css %}-->